<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>sfhasfkj</string>
		<key>price</key>
		<string>123</string>
		<key>image</key>
		<string>btn1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>sfhasfkj</string>
		<key>price</key>
		<string>200</string>
		<key>image</key>
		<string>btn1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>sfhasfkj</string>
		<key>price</key>
		<string>123</string>
		<key>image</key>
		<string>btn1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>sfhasfkj</string>
		<key>price</key>
		<string>123</string>
		<key>image</key>
		<string>btn1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>sfhasfkj</string>
		<key>price</key>
		<string>123</string>
		<key>image</key>
		<string>btn1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>sfhasfkj</string>
		<key>price</key>
		<string>123</string>
		<key>image</key>
		<string>btn1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>sfhasfkj</string>
		<key>price</key>
		<string>123</string>
		<key>image</key>
		<string>btn1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>sfhasfkj</string>
		<key>price</key>
		<string>123</string>
		<key>image</key>
		<string>btn1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>sfhasfkj</string>
		<key>price</key>
		<string>123</string>
		<key>image</key>
		<string>btn1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>sfhasfkj</string>
		<key>price</key>
		<string>123</string>
		<key>image</key>
		<string>btn1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>sfhasfkj</string>
		<key>price</key>
		<string>123</string>
		<key>image</key>
		<string>btn1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>sfhasfkj</string>
		<key>price</key>
		<string>123</string>
		<key>image</key>
		<string>btn1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>sfhasfkj</string>
		<key>price</key>
		<string>123</string>
		<key>image</key>
		<string>btn1</string>
	</dict>
	<dict>
		<key>name</key>
		<string>sfhasfkj</string>
		<key>price</key>
		<string>123</string>
		<key>image</key>
		<string>btn1</string>
	</dict>
</array>
</plist>
